html,body
{
   height: 100%;
   width: 100%;
   margin: 0;
   display: flex;
   align-items: center;
}

.ttl
{
    font-family: 'DM Sans';
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: rgb(57, 43, 255);
}

p
{
    font-family: 'DM Sans';
    text-align: center;
}

.accept
{
    background-color: rgb(79, 111, 255);
    padding: 10px;
    border-radius: 10px;
    font-family: 'DM Sans';
    color: white;
    font-size: 12px;
    width: 40%;
    text-align: center;
}

.decline
{
    background-color: rgb(255, 8, 8);
    padding: 10px;
    border-radius: 10px;
    font-family: 'DM Sans';
    color: white;
    font-size: 12px;
    width: 40%;
    text-align: center;
}

.buttons
{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}